body {
    min-width: $container-width-1200;

    @media (max-width: 480px) {
        min-width: $container-width-480;
    }

    @media (max-width: 320px) {
        min-width: $container-width-320;
    }
}