.main-header {

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    padding: 20px 0;

    background-color: $bg-blue;

    z-index: 1000;

    &--dark {
        position: static;

        background-color: $main-header--dark-color;
        padding: 10px 0;
    }

    &__wrap {
        @include container();

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    @media (max-width: 320px) {

        padding: 5px 0;

        &__wrap {
            @include container320();
        }

        &--dark {
            padding: 0 0;
        }
    }

}