.photo-block {

    position: relative;

    height: 480px;

    overflow: hidden;

    img {
        width: 100%;
    }

    .photo-block__btn {
        position: absolute;
        right: 150px;
        bottom: 10px;

        height: 45px;
        width: 45px;

        background: $photo__btn-color url("../img/maximize.svg") no-repeat center center;
        background-size: 20px 20px;
        border: none;
        outline: none;
    }

    .photo-block.minimize .photo-block__btn {
        background-image: url("../img/minimize.svg");
    }

    .photo-block__btn:hover {
        background-color: darken($photo__btn-color, 5%);
        cursor: pointer;
    }

    .photo-block__btn:active {
        background-color: darken($photo__btn-color, 15%);
        cursor: pointer;
    }

    @media (max-width: 480px) {
        height: 250px;

        .photo-block__btn {
            bottom: 15px;
            right: 15px;
        }

        .photo-1,
        .photo-2,
        .photo-3,
        .photo-4,
        .photo-7,
        .photo-8 {
            left: -60px;
        }

        .photo-5 {
            left: -230px;
        }
    }

    @media (max-width: 320px) {

        height: 200px;

        .photo-block__btn {
            bottom: 15px;
            right: 15px;
        }

        img {
            position: absolute;

            width: auto;
        }

        .photo-1,
        .photo-2,
        .photo-3,
        .photo-4,
        .photo-7,
        .photo-8 {
            left: -120px;
        }

        .photo-5 {
            left: -310px;
        }

        .photo-6,
        .photo-9 {
            left: -220px;
        }
    }

}