.work {

    margin-top: 55px;
    margin-bottom: 110px;

    &__wrap {
        @include container();
    }

    .square {
        width: $work-size__square;
        height: $work-size__square;
    }

    .rect {
        width: $work-width__rect;
        height: $work-height__rect;
    }

    .turn-rect {
        width: $work-height__rect;
        height: $work-width__rect;
    }

    .photo {
        overflow: hidden;
    }

    a {
        position: relative;

        display: block;
        width: 100%;
        height: 100%;

        text-decoration: none;
    }

    img {
        position: absolute;
    }

    .photo-1 img,
    .photo-7 img {
        left: -110px;
    }

    .photo-4 img,
    .photo-6 img,
    .photo-7 img {
        left: -175px;
    }

    .photo-5 img {
        left: -280px;
    }

    .photo-9 img {
        top: -110px;
    }

    .photo-1,
    .photo-3,
    .photo-4,
    .photo-6,
    .photo-7 {
        margin-right: 15px;
    }

    .photo:not(.photo-6):not(.photo-9) {
        margin-bottom: 15px;
    }

    .photo-4 a,
    .photo-4 img {
        height: 100%;
    }



}