// container width
$container-width-1200: 1200px;

// fonts
$helvetica: "Helvetica", "Arial", sans-serif;

// sizes
$work-size__square: 390px;
$work-width__rect: 795px;
$work-height__rect: 390px;

// colors
$main-menu__active-color: #231f20;
$main-menu__nonactive-color: #b8b8bc;
$bg-blue: #f5f5f8;
$feedback-color__header: #231f20;
$feedback-color__span: #373737;
$feedback-color__email: #31b4f8;
$feedback-form__border-color: #c1c1c1;
$feedback-form__placeholder-color: #8a8a8b;
$feedback-form__submit-color: #fff;
$feedback-form__submit-bg: #231f20;
$work__item-overlay-color: #fcfcff;
