// container width
$container-width-1200: 1200px;
$container-width-320: 280px;
$container-width-480: 420px;

// fonts
$helvetica: "Helvetica", "Arial", sans-serif;

// sizes
$work-size__square: 390px;
$work-width__rect: 795px;
$work-height__rect: 390px;
$work-size__square--320: 280px;
$work-width__rect--320: 280px;
$work-height__rect--320: 140px;
$work-size__square--480: 420px;
$work-width__rect--480: 420px;
$work-height__rect--480: 210px;

// colors
$main-menu__active-color: #231f20;
$main-menu__nonactive-color: #b8b8bc;
$bg-blue: #f5f5f8;
$feedback-color__header: #231f20;
$feedback-color__span: #373737;
$feedback-color__email: #31b4f8;
$feedback-form__border-color: #c1c1c1;
$feedback-form__placeholder-color: #8a8a8b;
$feedback-form__submit-color: #fff;
$feedback-form__submit-bg: #231f20;
$work__item-overlay-color: #fcfcff;
$home__triangle-color: #231f20;
$main-header--dark-color: #231f20;
$main-menu__active--dark-color: #fafafd;
$logo--dark-color: #fafafd;
$photo__btn-color: #fff;
$back-to-work-color: #000;
